.trackerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trackerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.textField {
  background-color: #f6f6f6;
  color: black;
  border: none;
  max-width: 500px;
  height: 100px;
  padding: 2rem;
  border-radius: 24px;
  outline: none;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1.2rem;
}

.trackerTextContainer {
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 1rem;
}

.summaryList {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.summarySection {
  width: 70%;
  line-height: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px rgb(230, 231, 231);
}

.summaryHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.summaryTitle {
  font-weight: 600;
  font-size: 1.2rem;
}

.summaryDateTime {
  font-weight: 300;
  color: rgb(174, 173, 173);
}

.summaryBottom {
  padding: 1rem;
}

.summaryListFlex {
  display: flex;
  justify-content: space-between;
}

.summaryItemFlex, .buttonGroup {
  display: flex;
  gap: 12px;
}

.errorMessage {
  color: rgb(243, 158, 158);
}
