.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.buttonWrapper {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 450px) {
  .headerWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
