.dashboard {
  width: 100%;
  height: 100%;
}

.dashboardWrapper {
  display: grid;
  grid-template-rows: 6fr 1fr;
}

.dashboardContent {
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding: 2rem;
  width: 100%;
}

.dashboardMenu {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  width: 300px;
  height: 90vh;
}

.content {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
