.dashboard {
  width: 100%;
  height: 100vh;
}

.dashboardWrapper {
  display: grid;
  grid-template-rows: 6fr 1fr;
  height: 100%;
}

.dashboardContent {
  display: flex;
  padding: 2rem;
  height: 100%;
}

.dashboardMenu {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  width: 300px;
}
