.actionButton {
  padding: 10px 20px;
  background-color: #2a9d8f;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 0.5rem 0;
}

.actionButton:hover {
  background-color: #a2afad;
}


/* Types of button */
.book {
  background-color: rgb(173, 173, 173);
}

.book:hover {
  background-color: #418aff;
}

.filter {
  background-color: rgb(255, 255, 255);
  color: gray;
  border: dotted 2px rgb(202, 202, 202);
}

.filter:hover {
  background-color:#32cbb9;
  color: white;
}
